// -------------------------
// Global Styles & Resets
// --------------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $bg-primary;
}

footer {
  background: $bg-primary-accent;
  min-height: 120px;
  color: $type-white;
}

a {
  text-decoration: none;
}

// =========================================
// Id Styles
// =========================================
// Header Section---------

#header-wrapper {
  background-color: $bg-primary-accent;
  min-height: 80px;
  padding: 0px 30px;
  // img {
  //   width: 50px;
  // }
}

#top-nav li {
  color: $type-white;
  text-decoration: none;
  list-style: none;
  padding: 20px;
}
// #top-nav ul {
//   
// }

// Hero Section--------------

#hero-wrapper {
  background: $bg-secondary;
  min-height: 768px;
  padding: 0px 30px;
}

#hero-info {
  background: $bg-primary-accent;
  color: $type-white;
  width: 100%;
  min-height: 120px;
}

// Work Section---------------

#work-wrapper {
  background: $bg-primary;
  width: 100%;
  height: 1260px;
  color: $type-white;
  padding: 0px 30px;
}

#work-heading {
  margin: 30px 0px;
  max-width: 100%;
}
#work-gallery {
  margin: 30px 0px;
  max-width: 100%;
}

// Contact Section---------
#contact-wrapper {
  background: $bg-primary;
  width: 100%;
  height: 768px;
  color: $type-white;
  padding: 30px;
}

// ===========================================
// Class Styles
// ===========================================
.header-logo {
  margin-left: 30px;
  font-size: small;
}
