// -------------------------
// Global Styles & Resets
// --------------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $primary-font;
  font-weight: 200;
}

main {
  display: block;
}

footer {
  padding: 2rem 6rem;
  background: $bg-primary;
  color: $type-white;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: $type-black;
}

// =========================================
// Id Styles
// =========================================
// Header Section---------

#header-wrapper {
  background: $bg-secondary;
  color: $type-black;
  padding: 30px 6rem;
  // img {
  //   width: 50px;
  // }
}

#header-logo a {
    color: $type-black;
    transition: 250ms ease-in-out;
    &:hover {
      color: $primary-color;
    }
}

#top-nav li {
  color: $type-black;
  text-decoration: none;
  list-style: none;
  padding: 0px 30px;
  transition: 250ms ease-in-out;
}

#top-nav li::after {
  content: "";
  display: block;
  position: absolute;
  background: $primary-color;
  border-radius: 1px;
  width: 58px;
  height: 3px;
  transition: 250ms ease-in-out;
  opacity: 0;
  margin-top: 2px;
}

#top-nav li:hover:after {
  opacity: 1;
}


// Hero Section--------------
#hero-wrapper {
  background: $bg-secondary;
  font-weight: 600;
  height: 100vh;
  padding: 10rem 15rem 18rem 15rem;
  font-size: 1.5rem;

  h1 {
    color: $type-black;
    line-height: 1em;
  }
  h3 {
    font-size: 1.7rem;
    color: $primary-color;
    padding: 15px 0px 30px 0px;
    line-height: 1em;
  }
}

#hero-title {
  // padding: 0px 2rem;
  text-align: left;
  p {
    line-height: 1.4em;
    font-size: 1.0em;
    width: 100%;
  }
}

#hero-image {
  transition: transform 300ms ease-in-out;
  img {
    border-radius: 30px;
    width: 400px;
    filter: grayscale(0%);
  }
  &:hover {
    transform: scale(99%);
  }
}
#hero-social {
  background: $bg-primary;
  color: $type-white;

  // width: 100%;
  padding: 3rem 6rem;
}

// Work Section---------------

#work-wrapper {
  background: $bg-secondary;
  // width: 100%;
  color: $type-black;
  padding: 5rem 6rem;
}

#work-heading {
  margin-bottom: 60px;
  margin-left: 10px;
}
#work-gallery {
  margin: 30px 0px;
}

// Contact Section---------
#contact-wrapper {
  background: $bg-primary-accent;
  color: $type-white;
  padding: 4rem 6rem;
}
#contact-header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  h2 {
    line-height: 4rem;
  }
}

// Footer Section ------------------
#footer-nav a {
  color: $type-white;
  list-style: none;

  li {
    padding: 0px 20px;
  }
}
#footer-copy {
  color: $type-white;
}
#footer-social a {
  color: $type-white;
  padding: 0px 10px;
}

// ===========================================
// Class Styles
// ===========================================

.social-media-01 {
  padding: 20px 0px 0px 0px;
  i {
    // margin: 10px 40px 0px 40px;
    font-size: 1.8em;
  }

  a {
    margin: 10px 20px 0px 20px;
    text-decoration: none;
    color: white;
    transition: color 200ms ease-out;
  }
  a:hover {
    color: $primary-color;
  }
}