// -------------------------
// Global Styles & Resets
// --------------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $primary-font;
  font-weight: 200;
}

main {
  position: relative;
  display: block;
}

footer {
  padding: 4rem 6rem;
  background: $bg-primary;
  color: $type-white;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: $type-black;
}

// =========================================
// Id Styles
// =========================================
// Header Section---------

#header-wrapper {
  position: relative;
  background: $bg-secondary;
  color: $type-black;
  padding: 30px 6rem;
}

#header-logo a {
    color: $type-white;
    transition: 250ms ease-in-out;
    z-index: 1;

    &:hover {
      color: $type-black;
    }
}
#top-nav {
  z-index: 1;
}

#top-nav a {
  margin: 0px 25px;
}

#top-nav ul {
  color: $type-black;
  font-weight: 500;
  list-style: none;
  transition: 250ms ease-in-out;
  text-align: center;
}

#top-nav li::after {
  content: "";
  display: block;
  position: relative;
  background: $primary-color;
  border-radius: 5px;
  width: 100%;
  height: 2.5px;
  transition: 200ms ease-in-out;
  opacity: 0;
  margin-top: 2px;
}

#top-nav li:hover:after {
  opacity: 1;
}


// Hero Section--------------
#hero-section-prime {
  position: relative;
  overflow: hidden;
}

#hero-wrapper {
  position: relative;
  background: $bg-secondary;
  font-weight: 600;
  height: 100vh;
  padding: 10rem 15rem 18rem 15rem;
  font-size: 1.5rem;

  h1 {
    color: $type-black;
    line-height: 1em;
  }
  h3 {
    font-size: 1.7rem;
    color: $primary-color;
    padding: 15px 0px 30px 0px;
    line-height: 1em;
  }
}

#hero-title {
  text-align: left;
  z-index: 1;

  p {
    line-height: 1.4em;
    font-size: 1.0em;
    width: 28vw;
  }
}
// Aside social(s)

#aside-social {
  background: $bg-primary-accent;
  color: $type-white;
  padding: 3rem 6rem;
}
// About Section --------------
#about-wrapper {
  background: $bg-secondary;
  color: $type-black;
  padding: 5rem 16rem;
  text-align: center;
}

#about-image {
  margin: 0px 40px;
  z-index: 1;
  img {
    border-radius: 30px;
    width: 500px;
    filter: grayscale(5%);
  }
}


// Work Section---------------

#work-wrapper {
  background: $bg-secondary;
  color: $type-black;
  padding: 5rem 16rem;
  text-align: center;
}

#work-heading {
  margin-bottom: 80px;
}
#work-gallery {
  margin: 50px 0px;
}

// Contact Section---------
#contact-wrapper {
  background: $bg-primary-accent;
  color: $type-white;
  padding: 4rem 6rem;
}
#contact-header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  h2 {
    line-height: 4rem;
  }
}

// Footer Section ------------------
#footer-nav a {
  color: $type-white;
  list-style: none;
  margin: 0px 1rem;

}

#footer-nav a:hover {
  color: $primary-color;
}
#footer-copy {
  color: $type-white;
}
#footer-social a {
  color: $type-white;
  margin: 0px 0.5rem;
  padding: 0px 5px;
  transition: 200ms ease-in-out;
}

#footer-social p {
  margin: 0px 0px 10px 0px;
}

#footer-social a:hover {
  color: $primary-color;
}

// ===========================================
// Class Styles
// ===========================================

.social-media-01 {
  padding: 20px 0px 0px 0px;
  i {
    // margin: 10px 40px 0px 40px;
    font-size: 1.8em;
  }

  a {
    margin: 10px 20px 0px 20px;
    text-decoration: none;
    color: white;
    transition: color 200ms ease-out;
  }
  a:hover {
    color: $primary-color;
  }
}

.bg-circle-top {
  position: absolute;
  top: -650px;
  left: -450px;
  height: 110vh;
  z-index: 1;
}
.bg-circle-bottom {
  position: absolute;
  top: 500px;
  right: -350px;
  height: 100vh;
  z-index: 0;
}