// -------------------------
// Typography Styles
// --------------------------
// @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
// ===========================
// Headings
// ===========================

h1 {
  font-size: 3.6rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.6rem;
  font-family: $primary-font;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
}

.t-white {
  color: $type-white;
}
.t-black {
  color: $type-black;
}

.text-larger {
  font-size: 4rem;
}
// =========================
// Body Type
// =========================
p {
  font-family: $secondary-font;
}

// =========================
// Misc.
// =========================

.form-req {
  color: red;
}