// -------------------------
// Card & Modal Styles
// --------------------------

// ==============================
// Cards
// ==============================
.portfolio-card-small {
  margin: 10px;
  width: 400px;
  height: 400px;
  background: gray;
}


// ==============================
// Modals
// ==============================
