// -------------------------
// Card & Modal Styles
// --------------------------

// ==============================
// Cards
// ==============================
.portfolio-card-1 {
  width: 400px;
  height: 400px;
  background: url(/assets/images/Ardent-Author_Screencap01.PNG);
  background-size: 192%;
  background-position: 50% -1px;
  border-radius: 2px;
  transition: 350ms ease-in-out;
  // box-shadow: rgba($color: #000000, $alpha: 0.05) 3px 3px 4px 0px;

  &:hover {
    filter: grayscale(100%);
  }
}

.portfolio-card-2 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}
.portfolio-card-3 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}
.portfolio-card-4 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}


// ==============================
// Modals
// ==============================
