// -------------------------
// Card & Modal Styles
// --------------------------

// ==============================
// Cards
// ==============================
.portfolio-card-1 {
  position: relative;
  transition: 350ms ease-in-out;
  cursor: pointer;

  &:hover {
    filter: grayscale(100%);
  }
}
.portfolio-card-1-img {
  width: 300px;
  height: 300px;
  background: url(/assets/images/Ardent-Author_Screencap01.PNG);
  background-size: 192%;
  background-position: 50% -1px;

}

.portfolio-card-1-desc {
  position: absolute;
  color: $bg-primary-accent;
  background: $bg-secondary;
  width: 100%;
  height: 50px;
  padding: 10%;
}

.portfolio-card-2 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}
.portfolio-card-3 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}
.portfolio-card-4 {
  // margin: 5px;
  width: 400px;
  height: 400px;
  background: gray;
}


// ==============================
// Modals
// ==============================
