// -------------------------
// Form Styles
// --------------------------
.contact-form {
  padding: 30px 0px;
  margin: 0;
}
.contact-form ul {
  text-decoration: none;
  list-style: none;
}

.contact-form li {
  line-height: 20px;
  width: 100%;
}

.contact-form label {
  display: block;
  padding: 12px 10px 12px 0px;
}

.contact-form input, textarea {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 1px;
  width: 100%;
  padding: 10px;
  resize: vertical;
}

.contact-form-width {
  padding-right: 20px;
}

.contact-form button {
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 40px 0px 0px 0px;
  padding: 12px 20px;
  transition: 250ms ease-in-out;
  font-weight: 700;

  &:hover {
    background: $primary-color;
    cursor: pointer;
  }
}
