// -------------------------
// SASS Variables - Reuse code by invoking a named variable.
// --------------------------

// ======
// Colors
// ======
$bg-primary: hsl(220, 10, 8%);
$bg-primary-accent: hsl(220, 10, 15%);
$bg-secondary: hsl(220, 0, 92%);

$type-white: hsl(220, 0, 95%);
$type-black: hsl(220, 0, 8%);

// ==========
// Typography
// ==========