// -------------------------
// SASS Variables - Reuse code by invoking a named variable.
// --------------------------

// ====================================
// Colors
// ====================================
$primary-color: #3ca9fb;
$primary-color-darker: #6C94BC;
$primary-color-lighter: #a6dbfc;
$secondary-color: #E4636C;

$bg-primary: hsl(220, 10, 12%);
$bg-primary-accent: hsl(220, 10, 15%);
$bg-secondary: hsl(220, 0, 98%);
$bg-secondary-accent: hsl(220, 0, 80%);

$type-white: hsl(220, 0, 98%);
$type-black: hsl(220, 0, 8%);

// =======================================
// Typography
// ======================================
$primary-font: 'Outfit', Lucida Sans, Arial, sans-serif;
$secondary-font: 'Lora', Lucida Sans, Arial, sans-serif;
