// -------------------------
// Grid Styles
// --------------------------
.grid {
  display: grid;

  // Grid Areas----
  &-sq1 {
    grid-area: sq1;
  }
  &-sq2 {
    grid-area: sq2;
  }
  &-sq3 {
    grid-area: sq3;
  }
  &-sq4 {
    grid-area: sq4;
  }
  &-sq5 {
    grid-area: sq5;
  }
  &-sq6 {
    grid-area: sq6;
  }

  // Grid Styles (Nested)
  &-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    // gap: 20px;
  }
  &-box-2 {
    grid-template-columns: repeat(auto-fit);
  }
  &-contact {
    grid-template-areas: 
    "sq1 sq2"
    "sq3 sq3"
    "sq4 sq4"
    "sq5 sq5"
    "sq6 sq6";
  }
  &-gallery {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 50px;
  }
  &-skills {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
  }
  &-center {
    justify-items: center;
  }
  
  &-footer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  &-box-3 {
    grid-template-columns: 1fr 1fr;
  }
}
